In [18]:
import pandas as pd
import numpy as np
import statistics
from scipy import stats as st
import math
import matplotlib.pyplot as plt
import seaborn as sns

**One tailed t-test**
- In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

#### h0 = mean speed of new machines >= old machines
#### h1 = mean speed of new machines < old machines

In [8]:
data = pd.read_csv('files_for_lab/machine.txt', encoding='UTF-16' , sep = '\t')
print(data.shape)
data

(10, 2)

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

- h0 = mean speed of new machines >= old machines
- h1 = mean speed of new machines < old machines

In [19]:
data.columns = ['new_machine', 'old_machine']
st.ttest_ind(data['new_machine'], data['old_machine'], equal_var=False)

Ttest_indResult(statistic=-3.397230706117603, pvalue=0.0032422494663179747)

Now let's do the same for the **Pokemon** Dataset

In [27]:
pokemon = pd.read_csv('pokemon.csv')
print(pokemon[['Defense','Attack']].describe())
pokemon.head()

          Defense      Attack
count  800.000000  800.000000
mean    73.842500   79.001250
std     31.183501   32.457366
min      5.000000    5.000000
25%     50.000000   55.000000
50%     70.000000   75.000000
75%     90.000000  100.000000
max    230.000000  190.000000

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

- h0 = defense not equal != to attack
- h1 = defense = to attack

In [24]:
st.ttest_rel(pokemon['Defense'],pokemon['Attack'])

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

We should reject h0 because p-value is low.

In [32]:
sample_pokemon = pokemon[['Defense','Attack']].sample(200)
sample_pokemon

     Defense  Attack
402      105     104
87       180      75
691      105      65
11       100      83
363       60     115
..       ...     ...
378       97      81
410       80      55
792       95     131
51        55      70
134       57      83

[200 rows x 2 columns]

In [33]:
st.ttest_rel(sample_pokemon['Defense'], sample_pokemon['Attack'])

Ttest_relResult(statistic=-2.1811924040379345, pvalue=0.03034139216346356)